{% if DEFAULT_PAGINATION %}
{% set first_page = articles_paginator.page(1) %}
{% set last_page = articles_paginator.page(articles_paginator.num_pages) %}

<div class="clearfix">
      {% if articles_page.has_previous() %}
      <a class="btn btn-primary float-left" href="{{ SITEURL }}/{{ first_page.url }}">Newest &#8647;</a>
      <a class="btn btn-primary float-left" href="{{ SITEURL }}/{{ articles_previous_page.url }}">Newer &larr;</a>
      {% endif %}
      {#
      Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}
      #}
      {% if articles_page.has_next() %}
      <a class="btn btn-primary float-right" href="{{ SITEURL }}/{{ last_page.url }}">Oldest &#8649;</a>
      <a class="btn btn-primary float-right" href="{{ SITEURL }}/{{ articles_next_page.url }}">Older &rarr;</a>
      {% endif %}

</div>

{% endif %}
