---
layout: default
---

<div class="row">
  <div class="col">
    {{ content }}

    {%- include find_language.html url = page.url -%}
    {%- assign posts = site[current_language] | where: "type", "post" | sort: "date" | reverse -%}
    {%- if posts.size > 0 -%}
      <ul class="post-list">
        {%- for post in posts -%}
        <li>
          <span class="post-meta">{{ post.date | date: site.date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
    </div>
</div>
